/target

TODO.md # personal todo file to keep track of project
1       # generated on running cargo check > temp 2>&1
temp    # temp file to store errors and warning that i can later bat temp | wl-copy
